
@model HajHakathon.Models.Sys_Area

@{
    ViewBag.Title = "Details";
}



<div>
    
    <hr />
	 <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-top bordered-palegreen">
                <span class="widget-caption"></span>
            </div>
            <div class="widget-body">
                <div class="collapse in">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaNameAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaNameAr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaNameEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaNameEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxInArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxInArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sys_Cities.NameAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sys_Cities.NameAr)
        </dd>

    </dl>
		<div>
	@Html.ActionLink("تعديل", "Edit", new { id = Model.ID },new { @class= "btn btn-primary shiny" })
    @Html.ActionLink("رجوع للقائمة", "Index",null,new{@class="btn btn-maroon shiny"})
    @Html.ActionLink("حذف", "Delete", new { id=Model.ID },new { @class= "btn btn-danger shiny" })
	</div>
    </p>
